* {
    background-color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: black;
    margin-bottom: 20px;
}

#startButton {
    padding: 10px 20px;
    font-size: 16px;
}
